body {
    background:#777;
    width: 960px;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: auto;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    display: block;
    padding: 10px;
    margin: 10px;
}

section {
    display: block;
    float: left;
    width: 430px;
    height: 267px;
    /* overflow: hidden; */
}

aside {
    display: block;
    float: right;
    width: 430px;
    height: 267px;
    /* overflow: hidden; */
}

footer {
    clear: both;
}


  